@font-face {
    font-family: "Sk-Modernist";
    src: url("fonts/Sk-Modernist-Regular.otf");
    src: local("Sk-Modernist"), local("Sk-Modernist"),
        url("fonts/Sk-Modernist-Regular.otf") format("opentype");
}

body {
    margin: 0;
    font-family: Sk-Modernist !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100vh;
    background: #121212;
    color: #fbfbfb;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.MuiBottomNavigationAction-label {
    padding-top: 5px;
}

.Mui-selected {
    color: #3effa2;
}

.MuiBottomNavigationAction-root.Mui-selected {
    color: #3effa2 !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
